body {
    background-image: url(image/panoramic-view-sunset-night.jpg);
    background-size: cover;
    background-position: center;
}


header {
    color: white;
    opacity: 0.9;
    animation-name: exemple;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

button {
    background-color: #b46767;
    color: rgb(244, 232, 232);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


h3 {
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 1.5em;
}

p {
    width: 90%; /* Ajuste a largura conforme necessário */
    margin: 0 auto; /* Centraliza o texto */
    text-align: justify; /* Justifica o texto para melhor alinhamento */
    font-size: 1.2em;
    color: blanchedalmond;
    padding: 10px 0 10px 0;
}

.videoOrigin {
    height: 210px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

h4 {
    text-align: center;
    color: rgb(221, 221, 221);
    font-size: 1.5em;
    padding: 10px 0 10px 0;
}